*, *:before, *:after {
  box-sizing: border-box;	
}
html {
	font-size: 62.5%;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
}
button {
	cursor: pointer;
}
button:disabled {
	cursor: default;
}
.is-active {
	font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}